#banner {
    background-image: url("./images/chrome_bg4.jpg") !important;
    background-position: center !important;
    padding-top: 0em !important;
    padding-bottom: 0em !important;
    border: 0px !important;
}

#banner div {
    padding-top: 10em !important;
    padding-bottom: 10em !important;
    height: 100%;
    background: rgba(0,0,0,0.30);
}

#banner div h1 {
    color: white !important;
    font-weight: bold;
}

.team-member-info a{
    display: block;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}