#banner {
    background-image: url("./images/chrome_bg4.jpg") !important;
    background-position: center !important;
    padding-top: 0em !important;
    padding-bottom: 0em !important;
    border: 0px !important;
}

#banner div {
    padding-top: 10em !important;
    padding-bottom: 10em !important;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

#banner div h1 {
    color: white !important;
    font-weight: bold;
}

.team-member-info a {
    color: white;
}

.team-member-info a,
.link-list li a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#footer .inner {
    padding-top: 32px;
}

.wrapper {
    padding: 40px !important;
}

.link-list {
    list-style-type: none;
}

.assignments * {
    text-align: center !important;
}

.assignments article .image {
    width: 50%;
    margin-bottom: 15px;
}

.assignments article .image a img {
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
}

@media screen and (min-width: 958px){
    .person{
        width: 30% !important;
    }
}
